page {
  height: 100vh;
  background-color: #efefef !important;
}

.swiper {
  swiper {
    height: 360rpx;
    background-color: skyblue;

    swiper-item {
      &:first-child {
        background-color: lightsalmon;
      }

      &:last-child {
        background-color: lightseagreen;
      }
    }
  }
}