page {
  height: 100vh;
  background-color: #efefef !important;
  display: flex;
  padding: 16rpx;
  box-sizing: border-box;
  flex-direction: column;
  > view {
    &:nth-child(n + 2){
      margin-top: 16rpx;
    }
  }
}

.swiper {
  border-radius: 16rpx;
  overflow: hidden;
  swiper {
    height: 360rpx;
    background-color: skyblue;
    swiper-item {
      image {
        width: 100%;
        height: 100%;
        border-radius: 16rpx;
      }
    }
  }
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  padding: 16rpx;
  border-radius: 16rpx;
}